html{
    font-family:cursive;
}
:root{
    --main-bg-color: hsla(9, 100%, 64%, 0.6);
}

body {
    background-color: var(--main-bg-color)
}

.color-display-p3 {
    background-color: color(display-p3 0.4 0.6 0.35);
    border: 2px solid #000000;
    padding: 3mm;
}  

p:has(> img) {
    border: 1px solid blue;
}

#mixcolor{
    background-color: color-mix(in srgb, #34c9eb 25%, white);
    border-bottom: 2px solid #000000;
}

h1, h2 {
    font-size: 1.5em;
    /* these are long margins syntax*/
    margin-left: 0.5%;
    margin-right:0.5%; 
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 2vh; /* short padding syntax*/
    text-align: center;
}




#Attendees {
    /*long padding syntax*/
    padding-top: 5mm;
    padding-bottom:5mm;
    padding-left: 5mm;
    padding-right: 5mm; 
    font-size: 20px;
    background: burlywood;
    margin: 0.01cm; /* this is a short syntax*/
    border: 2px solid #000000;
}

#Attendees ul li {
    list-style-type: circle;
}

#Attendees > ul {
    margin-left: 20px;
}

h1 ~ p {
    text-decoration: wavy;
}

/* Adjacent Sibling Combinator */
h1 + h2 {
    margin-top: 0;
}

textarea {
    /* border syntax style */
    border-width: 1px;
    border-style:dotted;
    border-color: black;
    border-radius: 0%;
    max-width: 100%; 
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

label {
    display: inline;
    text-decoration: underline;
    padding-bottom: 10%;

}

/*changes the color of text */
p {
    color: brown;
    background-color: white;
}

.favpower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cc{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: none;
}


#Topics{
    grid-template-columns: 1fr; /* Single column layout for mobile */
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

footer{
    text-align: center;
}

img{
    /*
    width: auto;
    height: 4in;
    overflow-x: auto;
    position: sticky;
    */
    max-width: 100%;
    height: auto;
    position: sticky;
}

video{
    max-width: 100%;
    height:auto;
    position: static;
}

button{
    color:red;
}

button:hover {
    color: green;
}

button:active{
    color:yellow;
}

* {
    box-sizing: border-box;
}

input[type="text"] {
    border: 1px solid #000;
}

@nest .favpower & {
    background-color: lightblue;
}